<main>
    <h1 class="my-5">instagram<i class="ms-3 fa-brands fa-instagram fa-bounce fa-2xl" style="color: #fe3434;"></i></h1>
    <h1>search info

        <button class="btn btn-primary bi bi-backspace-fill"></button>
    </h1>
    <h1 class="bi bi-bar-chart-fill"></h1>
    <h1 class="bi bi-code-slash"></h1>
    <h1 class="bi bi-emoji-smile"></h1>
    <h1 class="my-5">
        <img width="50px" src="/svg/icon.svg" alt="icon">
    </h1>
    <h1 class="ms-5">
        <i class="fa-brands fa-facebook fa-bounce fa-2xl" style="color: #005eff;"></i>
    </h1>
</main>