<main>

    <h1>title 1</h1>
    <h2>title 2</h2>
    <h3>title 3</h3>
    <h4>title 4</h4>
    <h5>title 5</h5>
    <h6>title 6</h6>

    <hr>

    <div class='display-1'>title</div>
    <div class='display-2'>title</div>
    <div class='display-3'>title</div>
    <div class='display-4'>title</div>
    <div class='display-5'>title</div>
    <div class='display-6'>title</div>

    <hr>

    <div class="text-center">text center</div>
    <div class="text-end">text end</div>
    <div class="text-muted">text muted</div>

    <hr>

    <div class="display-6 text-uppercase">текст великими буквами</div>
    <div class="display-6 text-lower">текст маленькими буквами</div>
    <div class="display-6 text-capitalize">слова з великої букви</div>

    <hr>

    <button class="btn btn-primary">button</button>
    <button class="btn btn-secondary">button</button>
    <button class="btn btn-outline-primary">button</button>

    <div class="text-primary">text primary</div>
    <div class="text-secondary">text secondary</div>

    <div>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam quam facere, nihil voluptate ipsam odio
            cum expedita optio fugit <span class="text-primary">repellendus obcaecati accusantium officia, rem deserunt
                unde eaque</span>
            Vel, neque
            aperiam?
        </p>
    </div>



</main>