<main>
    <section>
        <h2>{{make}} {{model}} {{year}}
            {{>text color='secondary' noLine=true name=color noDiv=true}}
        </h2>

        <div>

            <div>
                {{#with features}}
                <div>

                    {{#with interior}}

                    {{>text color='light' name='interior' noLine=true sq=true}}

                    <div>

                        {{>text color='warning' name='seats' noLine=true sq=true}}

                        {{#with seats}}

                        {{>text color='primary' name='material' data=material}}
                        {{>text color='dark' name='color' data=color}}
                        {{>text color='success' name='heated' data=heated}}
                        {{>text color='success' name='ventilated' data=ventilated}}

                        {{/with}}

                    </div>

                    <div>

                        {{>text color='warning' name='dashboard' noLine=true sq=true}}

                        {{#with dashboard}}

                        {{>text color='primary' name='material' data=material}}
                        {{>text color='dark' name='color' data=color}}

                        <div>
                            <details>

                                <summary>{{>text color='info' name='display' noLine=true sq=true noDiv=true}}</summary>

                                {{#with display}}

                                {{>text color='secondary' name='type' data=type}}
                                {{>text color='danger' name='size' data=size}}
                                {{>text color='secondary' name='resolution' data=resolution}}
                                {{>text color='success' name='touchscreen' data=touchscreen}}

                                {{/with}}

                            </details>
                        </div>

                        {{/with}}

                    </div>

                    <div>

                        {{>text color='warning' name='dashboard' noLine=true sq=true}}

                        {{#with audio}}
                        {{>text color='secondary' name='system' data=system}}
                        {{>text color='danger' name='speakers' data=speakers}}
                        {{>text color='success' name='subwoofer' data=subwoofer}}
                        {{>text color='success' name='bluetooth' data=bluetooth}}
                        {{>text color='success' name='USB' data=USB}}
                        {{/with}}

                    </div>

                    {{/with}}

                </div>

                <div>

                    {{#with exterior}}
                    <div>

                        {{>text color='light' name='exterior' noLine=true sq=true}}

                        <div>

                            {{>text color='warning' name='wheels' noLine=true sq=true}}

                            {{#with wheels}}
                            {{>text color='danger' name='size' data=size}}
                            {{>text color='secondary' name='type' data=type}}
                            {{>text color='secondary' name='color' data=color}}
                            {{/with}}
                        </div>

                        <div>

                            {{>text color='warning' name='headlights' noLine=true sq=true}}

                            {{#with headlights}}
                            {{>text color='secondary' name='type' data=type}}
                            {{>text color='danger' name='brightness' data=tbrightnesspe}}
                            {{>text color='success' name='automatic' data=automatic}}
                            {{/with}}
                        </div>

                        <div>

                            {{>text color='warning' name='sunroof' noLine=true sq=true}}

                            {{#with sunroof}}
                            {{>text color='secondary' name='type' data=type}}
                            {{>text color='danger' name='size' data=size}}
                            {{>text color='success' name='automatic' data=automatic}}
                            {{/with}}
                        </div>



                    </div>
                    {{/with}}

                    <div>
                        {{#with safety}}

                        {{>text color='light' name='safety' noLine=true sq=true}}

                        <div>

                            {{>text color='warning' name='airbags' noLine=true sq=true}}

                            {{#with assistance}}
                            {{>text color='success' name='blind spot monitoring' data=blind_spot_monitoring}}
                            {{>text color='success' name='rear cross traffic alert' data=rear_cross_traffic_alert}}
                            {{>text color='success' name='lane departure warning' data=lane_departure_warning}}
                            {{>text color='success' name='adaptive cruise control' data=adaptive_cruise_control}}
                            {{>text color='success' name='collision warning' data=collision_warning}}
                            {{/with}}
                        </div> 

                        {{/with}}
                    </div>

                </div>

                {{/with}}
            </div>

            <div>

                {{>text color='light' name='engine' noLine=true sq=true}}

                {{#with engine}}

                {{>text color='secondary' name='type' data=type}}
                {{>text color='danger' name='displacement' data=displacement}}
                {{>text color='danger' name='horsepower' data=horsepower}}
                {{>text color='danger' name='torque' data=torque}}

                <div>

                    {{>text color='warning' name='transmission' noLine=true sq=true}}

                    {{#with transmission}}
                    {{>text color='secondary' name='type' data=type}}
                    {{>text color='danger' name='gears' data=gears}}
                    {{/with}}
                </div>

                {{/with}}
            </div>

            <div>

                {{>text color='light' name='fuel economy' noLine=true sq=true}}

                {{#with fuel_economy}}
                {{>text color='danger' name='city' data=city}}
                {{>text color='danger' name='highway' data=highway}}
                {{>text color='danger' name='combined' data=combined}}
                {{/with}}

            </div>

            <div>

                {{>text color='light' name='price' noLine=true sq=true}}

                {{#with price}}

                {{>text color='secindary' name='base' data=base}}
                {{>text color='danger' name='destination' data=destination}}

                <div>

                    {{>text color='warning' name='options' noLine=true sq=true}}

                    {{#with options}}
                    {{>text color='danger' name='navigation' data=navigation}}
                    {{>text color='danger' name='moonroof' data=moonroof}}
                    {{>text color='danger' name='premium paint' data=premium_paint}}
                    {{/with}}
                </div>

                {{>text color='danger' name='total' data=total}}

                {{/with}}
            </div>

        </div>

    </section>
</main>