<main>
    <section>

        {{>title big=true noLine=true data=name}}

        <div>
            {{>text color='warning' name='users' noLine=true sq=true}}
            <ul class="mt-4">
                {{#each users}}
                <li>
                    {{>text color='warning' name='user' noLine=true sq=true}}
                    {{>user}}

                    <div class="mt-4">
                        {{#each friends}}

                        {{>text color='warning' name='friends' noLine=true sq=true}}
                        {{>user}}

                        {{#if mutual_friends}}
                        <div>
                            <ul class="mt-4 mb-4">
                                {{#each mutual_friends}}
                                <li>

                                    {{>text color='warning' name='mutual friend' noLine=true sq=true}}
                                    {{>user}}

                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        {{/if}}
                        {{>groups}}
                        {{/each}}
                    </div>

                    {{>groups}}

                </li>
                {{/each}}
            </ul>
        </div>

    </section>
</main>