<main>
    <section>

        {{>title big=true noLine=true data=name}}

        <div>
            {{>text color='warning' name='users' noLine=true sq=true}}
            {{#each users}}
            <ul>
                <li>
                    {{>text color='warning' name='user' noLine=true sq=true}}
                    {{>user}}

                    <div>
                        {{#each friends}}

                        {{>text color='warning' name='friends' noLine=true sq=true}}
                        {{>user}}

                        {{#if mutual_friends}}
                        <div>
                            <ul>
                                {{#each mutual_friends}}
                                <li>

                                    {{>text color='warning' name='mutual friend' noLine=true sq=true}}
                                    {{>user}}

                                    <div>
                                        {{>text color='warning' name='mutual friend' noLine=true sq=true}}
                                        {{#each mutual_friends}}
                                        {{>user}}
                                        {{/each}}
                                    </div>

                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        {{/if}}
                        {{>groups}}
                        {{/each}}
                    </div>

                    {{>groups}}

                </li>
            </ul>
            {{/each}}
        </div>

    </section>
</main>