<main>
    <div class="row"></div>
    <h2 class="mt-5">pages</h2>
    <div class="col-4">
        <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, quo! Soluta ab nam quo vero
            ratione quas illo
            quae fugit, nemo culpa atque voluptates quam qui placeat harum aspernatur earum!</p>
    </div>
    <div class="row mt-5">

        <div class="col-2">
            <div class="mb-2">
                {{>link href='/shophome' text='Shop home' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-2">
                {{>link href='/shopproduct' text='Shop product' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-2">
                {{>link href='/shopnews' text='Shop news' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-2">
                {{>link href='/shopcatalog' text='Shop catalog' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-2">
                {{>link href='/shopcart' text='Shop cart' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-2">
                {{>link href='/shoporder' text='Shop order' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-2">
                {{>link href='/shopprofile' text='Shop profile' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-5">
                {{>link href='/shopreview' text='Shop review' class='btn btn-primary' blank=true}}
            </div>
        </div>

        <div class="col-2">
            <div class="mb-2">
                {{>link href='/bio' text='bio' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-2">
                {{>link href='/education' text='education' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-2">
                {{>link href='/person' text='person' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-2">
                {{>link href='/program' text='program' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-2">
                {{>link href='/list' text='list' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-2">
                {{>link href='/skills' text='skills' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-2">
                {{>link href='/summary' text='summry' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-2">
                {{>link href='/web' text='web' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-5">
                {{>link href='/work' text='work' class='btn btn-primary' blank=true}}
            </div>
        </div>

        <div class="col-2">
            <div class="mb-2">
                {{>link href='/js' text='js' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-2">
                {{>link href='/car' text='car' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-2">
                {{>link href='/facebook' text='facebook' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-5">
                {{>link href='/mac' text='mac' class='btn btn-primary' blank=true}}
            </div>
        </div>

        <div class="col-2">
            <div class="mb-2">
                {{>link href='/task21' text='task21' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-2">
                {{>link href='/task22' text='task22' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-5">
                {{>link href='/task31' text='task31' class='btn btn-primary' blank=true}}
            </div>
        </div>

        <div class="col-2">
            <div class="mb-2">
                {{>link href='/bootstrap' text='bootstrap' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-2">
                {{>link href='/bootstrap2' text='bootstrap2' class='btn btn-primary' blank=true}}
            </div>

            <div class="mb-2">
                {{>link href='/csss' text='css' class='btn btn-primary' blank=true}}
            </div>
        </div>

    </div>
</main>