<main>
    <section>

        {{>title data=name noLine=true big=true}}

        {{>text color='info' name='description' data=description}}

        {{>text color='danger' name='descripriception' data=price}}

        {{>text color='secondary' name='category' data=category}}

        {{#with features}}
        <div>

            {{#with processor}}
            <div>

                {{>text color='warning' name='processor' noLine=true sq=true}}

                {{>text color='primary' name='brand' data=brand}}

                {{>text color='info' name='model' data=model}}

                {{>text color='secondary' name='speed' data=speed}}

                {{>text color='danger' name='cores' data=cores}}

                {{>text color='secondary' name='cache' data=cache}}

            </div>
            {{/with}}

            {{#with memory}}
            <div>

                {{>text color='warning' name='memory' noLine=true sq=true}}

                {{>text color='secondary' name='type' data=brantyped}}

                {{>text color='secondary' name='size' data=size}}

                {{>text color='danger' name='speed' data=speed}}

            </div>
            {{/with}}

            {{#with storage}}
            <div>

                {{>text color='warning' name='storage' noLine=true sq=true}}

                {{>text color='secondary' name='type' data=type}}

                {{>text color='danger' name='size' data=size}}

            </div>
            {{/with}}

            {{#with display}}
            <div>

                {{>text color='warning' name='display' noLine=true sq=true}}

                {{>text color='danger' name='size' data=size}}

                {{>text color='secondary' name='resolution' data=resolution}}

                {{>text color='secondary' name='technology' data=technology}}

                {{>text color='dark' name='color space' data=color_space}}

                {{>text color='danger' name='brightness' data=brightness}}

                {{>text color='danger' name='trefresh rateype' data=trefresh_rateype}}

            </div>
            {{/with}}

            {{#with graphics}}
            <div>

                {{>text color='warning' name='graphics' noLine=true sq=true}}

                {{>text color='primary' name='brand' data=brand}}

                {{>text color='info' name='model' data=smodelize}}

                {{>text color='danger' name='memory' data=memory}}

            </div>
            {{/with}}

            <div>
                {{>text color='warning' name='ports' noLine=true sq=true}}
                <ul>
                    {{#each ports}}
                    <li>

                        {{>text color='secondary' name='type' data=type}}

                        {{>text color='danger' name='count' data=count}} 

                        {{#if features}}
                        <div>
                            {{>text color='warning' name='features' noLine=true sq=true}}


                            {{#each features}}
                            <ul>
                                <li>
                                    {{this}}
                                </li>
                            </ul>
                            {{/each}}

                        </div>
                        {{/if}}

                    </li>
                    {{/each}}
                </ul>
            </div>

            {{#with battery}}
            <div>

                {{>text color='warning' name='battery' noLine=true sq=true}}

                {{>text color='info' name='type' data=type}}

                {{>text color='danger' name='capacity' data=capacity}}

                {{>text color='secondary' name='life' data=life}}
            </div>
            {{/with}} 

            {{>text color='danger' name='weight' data=weight}} 

            {{#with dimensions}}
            <div>

                {{>text color='warning' name='dimensions' noLine=true sq=true}}

                {{>text color='secondary' name='height' data=height}}

                {{>text color='secondary' name='width' data=width}}

                {{>text color='secondary' name='depth' data=depth}}
            </div>
            {{/with}} 

            {{>text color='danger' name='operating system' data=operating_system}} 

            <div>
                <ul>
                    {{#each accessories}}
                    <li>

                        {{>text color='warning' name='accessories' noLine=true sq=true}}

                        {{>text color='primary' name='name' data=name}}

                        {{>text color='danger' name='price' data=price}}

                    </li> 
                    {{/each}}
                </ul>
            </div>

        </div>
        {{/with}}

    </section>
</main>