<main>
    <section>

        {{>title data=name noLine=true big=true}}

        {{>info name='description' data=description}}

        {{>danger name='descripriception' data=price}}

        {{>secondary name='category' data=category}} <br>

        {{#with features}}
        <div>

            {{#with processor}}
            <div>

                {{>warning name='processor' noLine=true sq=true}}

                {{>primary name='brand' data=brand}}

                {{>info name='model' data=model}}

                {{>secondary name='speed' data=speed}}

                {{>danger name='cores' data=cores}}

                {{>secondary name='cache' data=cache}}

            </div><br>
            {{/with}}

            {{#with memory}}
            <div>

                {{>warning name='memory' noLine=true sq=true}}

                {{>secondary name='type' data=brantyped}}

                {{>danger name='size' data=size}}

                {{>danger name='speed' data=speed}}

            </div><br>
            {{/with}}

            {{#with storage}}
            <div>

                {{>warning name='storage' noLine=true sq=true}}

                {{>secondary name='type' data=type}}

                {{>danger name='size' data=size}}

            </div><br>
            {{/with}}

            {{#with display}}
            <div>

                {{>warning name='display' noLine=true sq=true}}

                {{>danger name='size' data=size}}

                {{>secondary name='resolution' data=resolution}}

                {{>info name='technology' data=technology}}

                {{>dark name='color space' data=color_space}}

                {{>danger name='brightness' data=brightness}}

                {{>danger name='trefresh rateype' data=trefresh_rateype}}

            </div><br>
            {{/with}}

            {{#with graphics}}
            <div>

                {{>warning name='graphics' noLine=true sq=true}}

                {{>primary name='brand' data=brand}}

                {{>info name='model' data=smodelize}}

                {{>danger name='memory' data=memory}}

            </div><br>
            {{/with}}

            <div>
                {{>warning name='ports' noLine=true sq=true}}
                <ul>
                    {{#each ports}}
                    <li>

                        {{>secondary name='type' data=type}}

                        {{>danger name='count' data=count}} <br>

                        {{#if features}}
                        <div>
                            {{>warning name='features' noLine=true sq=true}}


                            {{#each features}}
                            <ul>
                                <li>
                                    {{this}}
                                </li>
                            </ul>
                            {{/each}}

                        </div>
                        {{/if}}

                    </li><br>
                    {{/each}}
                </ul>
            </div>

            {{#with battery}}
            <div>

                {{>warning name='battery' noLine=true sq=true}}

                {{>info name='type' data=type}}

                {{>danger name='capacity' data=capacity}}

                {{>secondary name='life' data=life}}
            </div>
            {{/with}} <br>

            {{>danger name='weight' data=weight}} <br>

            {{#with dimensions}}
            <div>

                {{>warning name='dimensions' noLine=true sq=true}}

                {{>secondary name='height' data=height}}

                {{>secondary name='width' data=width}}

                {{>secondary name='depth' data=depth}}
            </div>
            {{/with}} <br>

            {{>danger name='operating system' data=operating_system}} <br>

            <div>
                <ul>
                    {{#each accessories}}
                    <li>

                        {{>warning name='accessories' noLine=true sq=true}}

                        {{>primary name='name' data=name}}

                        {{>danger name='price' data=price}}

                    </li> <br>
                    {{/each}}
                </ul>
            </div>

        </div>
        {{/with}}

    </section>
</main>