<main>
    <div class="row">

        {{#with newsBlock}}
        <section class="col-12">
            <div class="row">

                <h2 class="text-center col-12 mb-4">{{title}}</h2>

                {{>shoppost}}

            </div>
        </section>
        {{/with}}

        <hr class="my-5">

        {{#with goodsBlock}}
        <section class='col-12'>

            <nav class="nav nav-tabs mb-5">
                {{#each tabs}}
                <div class="nav-item">
                    <a class='nav-link
                        {{#if isActive}} active{{/if}}
                        {{#if isDisabled}} disabled{{/if}}'>
                        {{text}}
                    </a>
                </div>
                {{/each}}
            </nav>

            {{>shopcard}}

        </section>
        {{/with}}

        {{>subscribeshop}}

        <hr class="my-5">

        {{>shopaction}}

    </div>
</main>