<div>
    {{#with main}}
    <main>

        <section class="mb-5">

            {{> title big=true data=summary.title}}

            <div>
                <p>{{summary.text}}</p>
            </div>

        </section>

        {{#with experience}}
        <section>

            {{> title big=false data=title}}

            <div>
                <p>{{text}}</p>
            </div>

        </section>
        {{/with}}

    </main>
    {{/with}}
</div>