<main>

    {{#with heading}}
    <section class="card card-body">

        {{>headbtn data=main color='danger'}}

        {{>headbtn data=second color='danger'}}

        {{>headbtn data=subblock color='danger'}}

    </section>
    {{/with}}

    <section>

    </section>

</main>