{{#unless noDiv}}
<div>
    {{/unless}}


    <span class="badge rounded-pill text-bg-danger">
        {{name}}
    </span>

    {{#unless noLine}}
    -
    {{/unless}}

    {{data}}

    {{#unless noDiv}}
</div>
{{/unless}}