{{#with footer}}
<footer>
    <hr class="my-5">

    <div>
        {{#with social}}
        {{> link href=email.href text=email.text}}
        {{> link href=phone.href text=phone.text}}
        {{> link href=linkedin.href text=linkedin.text blank=true noLine=true}}
        {{/with}}
    </div>

    {{#with ../header}}

    <div class="my-2">
        <em>Copyright by {{name/firstname}} {{name/lastname}}</em>
    </div>

    <div>
        <address>
            {{address}}
        </address>
    </div>

    {{/with}}

</footer>
{{/with}}