{{#if groups}}
<div class="mb-4">
    {{>text color='warning' name='groups' noLine=true sq=true}}
    {{#each groups}}
    <ul>
        <li class="mt-4">

            {{>text color='warning' name='group' noLine=true sq=true}}

            {{>text color='danger' name='id' data=id}}

            {{>text color='danger' name='name' data=name}}

            {{>text color='warning' name='description' data=description}}

            <div>
                {{#each members}}

                {{>text color='warning' name='member' noLine=true sq=true}}
                {{>user}}

                {{/each}}
            </div>

        </li>
    </ul>
    {{/each}}
</div>

{{/if}}