{{#with service}}
<section class="col-12 card text-center p-4 text-bg-success">
    <h2 class="mb-3">{{title}}</h2>
    <p class="mb-3">{{description}}</p>
    {{#each buttons}}
    <div>
        {{>link href=link text=text blank=true noLine=true class='btn btn-primary'}}
    </div>
    {{/each}}
</section>
{{/with}}