<hr class='my-5' />

<footer class='row m-3'>
  <nav class='nav'>
    {{#each footer}}
      <div class='col-2'>
        {{#each this}}
        <div class="nav-iem">
            <a class="nav-link {{#if @last}}disabled{{/if}}" {{#if @last}}{{else}} href={{link}}{{/if}}>{{text}}</a>
        </div>
        {{/each}}
      </div>
    {{/each}}
  </nav>
</footer>