{{#unless noDiv}}
<div>
    {{/unless}}


    <span class="badge {{#unless sq}}rounded-pill {{/unless}}text-bg-{{color}}">
        {{name}}
    </span>

    {{#unless noLine}}
    -
    {{/unless}}

    {{#if data}}
    {{data}}
    {{/if}}

    {{#unless noDiv}}
</div>
{{/unless}}