{{#unless noDiv}}
<div>
    {{/unless}}


    <span class="badge {{#unless sq}}rounded-pill {{/unless}}text-bg-warning">
        {{name}}
    </span>

    {{#unless noLine}}
    -
    {{/unless}}

    {{data}}

    {{#unless noDiv}}
</div>
{{/unless}}